@page "/"

<PageTitle>Startsida</PageTitle>

<h1>Välkommen!</h1>

<p>Detta är en webbplats skapad för Moment 1.2 i kursen Webbutveckling med .NET. Webbplatsen är skapad med Blazor WebAssembly.</p>
<p>Webbplatsen är skapad av Beatrice Abrahamsson. Kontakta mig via e-post på <a href="mailto:beab2100@student.miun.se">beab2100@student.miun.se</a></p>
<p>Denna kurs ingår i programmet Webbutveckling, 120 hp vid Mittuniversitet.</p>

<!-- Include ReadMore component -->
<ReadMore Title="Vill du veta mer om Webbutvecklingsprogrammet på Mittuniversitetet?" />
