<!-- Menu component -->
<div>
    <div class="heading">
        <a class="navbar-brand" href="">Moment1.2</a>
    </div>
</div>

<div class="navMenu">
    <nav>
        <div class="nav-item">
            <NavLink class="nav-link" href="">Startsida
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="converter"> Konvertera
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="JSON">JSON
            </NavLink>
        </div>
    </nav>
</div>

@code {

}
