<!--ReadMore component-->
<div>
    <strong>@Title</strong>

    <span class="text">
        Klicka
        <a target="_blank" href="https://www.miun.se/utbildning/program/data-och-it/webbutveckling/">här</a>
    </span>
    för att läsa mer.
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
}